#pragma once
#define WIFI_SSID       "your_wifi_ssid"
#define WIFI_PASSWORD   "your_wifi_password"

// ตั้ง Static IP ให้ตรงกับ CAM_INTERNAL_IP ใน main_controller/include/config.h
#define STATIC_IP        "192.168.1.102"
#define GATEWAY_IP       "192.168.1.1"
#define SUBNET_MASK      "255.255.255.0"

#define FIREBASE_HOST       "your-project-id-default-rtdb.asia-southeast1.firebasedatabase.app"
#define FIREBASE_API_KEY    "your_firebase_web_api_key"
#define FIREBASE_AUTH_EMAIL "device@yourproject.iam.gserviceaccount.com"
#define FIREBASE_AUTH_PASS  "your_password_if_using_email_auth"
#define FIREBASE_STORAGE_BUCKET "your-project-id.appspot.com"
